<DOCTYPE html>
<html lang="en">
    <head>
      <meta charset = "UTF-8">
      <meta name="viewport", content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}">
      <title>{% block title %}Default{% endblock %}</title>
    </head>

    {% with messages=get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <body>
      {% block body %}
      <h1>BASE</h1>
      {% endblock %}
    </body>
    
  </html>
