{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="door-panel">  
  <h1> HOME </h1>
  
  {% set front_door_color = 'green' if front_door_status == 'Unlocked' else 'red' %}
  <p>Front Door: <span id="Front Door" style="color: {{ front_door_color }};">{{ front_door_status }}</span></p>

  {% set master_bedroom_door_color = 'green' if master_bedroom_door_status == 'Unlocked' else 'red' %}
  <p>Master Bedroom Door: <span id="Master Bedroom Door" style="color: {{ master_bedroom_door_color }};">{{ master_bedroom_door_status }}</span></p>
  
  
  {% set patio_door_color = 'green' if patio_door_status == 'Unlocked' else 'red' %}
  <p>Patio Door: <span id="Patio Door" style="color: {{ patio_door_color }};">{{ patio_door_status }}</span></p>
  

  {% set kitchen_door_color = 'green' if kitchen_door_status == 'Unlocked' else 'red' %}
  <p>Kitchen Door: <span id="Kitchen Door" style="color: {{ kitchen_door_color }};">{{ kitchen_door_status }}</span></p>
</div>

<div class="logout-container">
  <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
  const socket = io();

  socket.on('door_update', (data) => {
    console.log('Door update received:', data);
    const doorElement = document.getElementById(data.doorname);
    if (doorElement) {
      doorElement.textContent = data.status.charAt(0).toUpperCase() + data.status.slice(1);
      doorElement.style.color = data.status === 'Unlocked' ? 'green' : 'red';
    }
  });
</script>
{% endblock %}
